/.env
/.postgres
/node_modules
/admin/node_modules
/admin/public/config.json
/admin/public/index.css
/admin/public/index.js
/admin/public/index.js.map
/admin/.idea/
/app/node_modules
/app/public/config.json
/app/public/index.css
/app/public/index.js
/app/public/index.js.map
/app/.idea/
/internal/authservice/templates/node_modules
